<main>
    <header>
        {{#with page_header}}
        <div class="text-center">
            <h1>
                {{title}}
            </h1>
            <p class="text-uppercase">
                {{description}}
            </p>
        </div>
        {{/with}}

    </header>

    <br>
    <section>
        <div class="card">
            {{#with section}}
            {{#with about_us}}

            <div class="card-body">
                <div class="text-end">
                    <div class="display-6">{{title_list.main}}</div>
                    <br>
                    <h2>{{title_list.sub}}</h2>
                </div>

                <br>

                <button class="btn btn-outline-info">{{button.text}}</button>
            </div>

            {{/with}}
        </div>

        <br>

        <div class="card">
            {{#with advantage}}
            <div class="card-body">
                <div class="text-muted">
                    <div class="display-5">{{title}}</div>

                    <br>

                    <div class="card">
                        {{#with efficiency}}
                        <div class="card-body">
                            <div class="display-4">{{title}}</div>
                            <br>
                            <h6 class="text-dark">{{sub_title}}</h6>
                            <br>
                            <p class="text-dark">{{description}}</p>
                            <br>
                            <button class="btn btn-outline-warning">{{button}}</button>
                        </div>
                        {{/with}}
                    </div>

                    <br>

                    <div class="card">
                        {{#with innovation}}
                        <div class="card-body">
                            <div class="text-center">
                                <div class="display-4">{{title}}</div>
                                <br>
                                <h6 class="text-dark">{{sub_title}}</h6>
                                <br>
                                <p class="text-dark">{{description}}</p>
                            </div>
                            <br>
                            <button class="btn btn-outline-warning">{{button}}</button>
                        </div>
                        {{/with}}
                    </div>

                    <br>

                    <div class="card">
                        {{#with collaboration}}
                        <div class="card-body">
                            <div class="text-end">
                                <div class="display-4">{{title}}</div>
                                <br>
                                <h6 class="text-dark">{{sub_title}}</h6>
                                <br>
                                <p class="text-dark">{{description}}</p>
                            </div>
                            <br>
                            <button class="btn btn-outline-warning">{{button}}</button>
                        </div>
                        {{/with}}
                    </div>
                </div>


            </div>
            {{/with}}
        </div>

        <br>

        {{#with agreement}}
        <div class="card">
            <div class="card-body">
                <div class="display-5">{{title}}</div>
                <br>
                <div class="card">
                    {{#with info}}
                    <div class="card-body">
                        <h5>{{sub_title}}</h5>

                        <div class="card">
                            {{#with detail}}
                            <div class="card-body">
                                <div>
                                    <p>{{text}}</p>
                                </div>
                                <br>
                                <button class="btn btn-success">{{button}}</button>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
        {{/with}}



        {{/with}}
    </section>



</main>